<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main">

                <section id="banner" {{ if .Params.style }} class="{{ .Params.style }}" {{end}}>
                    <div class="inner">
			{{ if .Params.image }}
                        <span class="image">
                            <img src="{{ .Site.Params.baseURL }}/img/{{ .Params.image }}" alt="" />
                        </span>
			{{ end }}
                        <header class="major">
                            <h1>{{ .Title }}</h1>
                        </header>
                        <div class="content">
			    <p>{{ .Params.subtitle | safeHTML }}</p>
                        </div>
                    </div>
                </section>

                <!-- One -->
                    <section id="one">
                        <div class="inner">
                            {{ .Content }}
                            {{ if .Params.nextURL }}
                              <ul class="actions">
                                <li><a href="{{ .Site.Params.baseURL }}/{{ .Params.nextURL }}" class="button next scrolly">
                                  {{ if .Params.nextText }}{{ .Params.nextText }}{{ end }}
                                </a></li>
                              </ul>
                            {{ end }}
                        </div>
                    </section>

            {{ "<!-- Disqus Inject -->" | safeHTML }}
                {{ if .Site.DisqusShortname }}
                  {{ partial "disqus.html" . }}
                {{ end }}
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
