{{ "<!-- Contact -->" | safeHTML}}
    <section id="contact">
        <div class="inner">
            <section>
                <form method="post" action="https://formspree.io/{{ .Site.Params.Contact.formEmail }}">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="{{ .Site.Params.Contact.buttonSend }}" class="special" /></li>
                        <li><input type="reset" value="{{ .Site.Params.Contact.buttonClear }}" /></li>
                    </ul>
                </form>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        {{ range .Site.Params.Contact.email }}
                        <h3>{{ .title }}</h3>
                        <a href="mailto:{{ .email }}">{{ .email }}</a>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-phone"></span>
                        {{ range .Site.Params.Contact.phone }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .phone }}</span>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-home"></span>
                        {{ range .Site.Params.Contact.address }}
                        <h3>{{ .title }}</h3>
                        <span>{{ if .name }}{{ .name }}<br />{{end}}
                        {{ if .street }}{{ .street }}<br />{{end}}
                        {{ if .address }}{{ .address }}<br />{{end}}
                        {{ if .address2 }}{{ .address2 }}<br />{{end}}
                        {{ if .city }}{{ .city }}{{ end }}
                        {{ if .state }}{{ .state }},{{ end }}
                        {{ if .zip }}{{ .zip }}{{ end }}
                        {{ if .country }} <br /> {{ .country }} {{ end }}
                        </span>
                        {{ end }}
                    </div>
                </section>
            </section>
        </div>
    </section>
